body {
    font-family: Arial;
    background-color: #0f3b2e;
    color: white;
    text-align: center;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.card {
    width: 70px;
    height: 100px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
}

button, input {
    padding: 8px 15px;
    margin: 10px;
    font-size: 16px;
}
